# Forcer une nouvelle installation des dépendances
flask==2.0.3
uvicorn==0.20.0
python-dotenv==0.21.1
openai==0.27.0
musicbrainzngs==0.7.1
aiohttp==3.8.3
flask[async]==2.0.3
asgiref==3.5.2
werkzeug==2.0.3  # Ajout pour garantir la compatibilité avec Flask 2.0.3
