flask==2.2.3
werkzeug==2.2.3
requests==2.28.2
python-dotenv==1.0.0
serpapi==0.1.0
uvicorn==0.20.0  # Remplacement de gunicorn par uvicornopenai==0.28.1
spotipy==2.23.0
musicbrainzngs==0.7.1
asgiref==3.5.2
aiohttp==3.8.3
